<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><img
        src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoH
    CBQIFRUWFhUZGBgZHBgcHBkcGBgZIBodGBoaGh4aIxoeLi4lHCEsHx4YJjomKy8xNTVDGig7QDs0Py40NTEBDAwMDw8QHBISGD8rJSU3ND8/PTY3ND42Pz0xNDQ0MTg0MTUxNDExNzQ0MTQxPz80PjQxMTQ0MTE0NDE2ND02Nv/AABEIAJQBVQMBIgACEQEDEQH/xAAcAAEAAwEAAwEAAAAAAAAAAAAAAwYHBQIECAH/xABDEAACAQEEBQgGBwgCAwEAAAABAgADBAUGERIhMUFRBxQiU2FxktFCUmKBkaETMkNEo7HSFSOCssHC4vAXolRy8TT/xAAZAQEBAQEBAQAAAAAAAAAAAAAAAwQCAQX/xAAoEQEAAgEEAgAEBwAAAAAAAAAAAQMCESEiMQQSQbHw8SNRYYGRoeH/2gAMAwEAAhEDEQA/AMl53U6x/G3nHO6nWP4285BE9eJ+d1Osfxt5xzup1j+NvOQRAn53U6x/G3nHO6nWP4285BECfndTrH8becc7qdY/jbzkEQJ+d1Osfxt5xzup1j+NvOQRAn53U6x/G3nHO6nWP4285BECfndTrH8becc7qdY/jbzkEQJ+d1Osfxt5xzup1j+NvOQRAn53U6x/G3nHO6nWP4285BECfndTrH8becc7qdY/jbzkEQJ+d1Osfxt5xzup1j+NvOQRAn53U6x/G3nHO6nWP4285BECfndTrH8becc7qdY/jbzkEQJ+d1Osfxt5xzup1j+NvOQRAn53U6x/G3nHO6nWP4285BECfndTrH8becc7qdY/jbzkEQJ+d1Osfxt5xzup1j+NvOQRAn53U6x/G3nHO6nWP4285BECfndTrH8becc7qdY/jbzkEQJ+d1Osfxt5xzup1j+NvOQRAn53U6x/G3nHO6nWP4285BECfndTrH8becSCICIiAiIgIiICIiAiIgIiICIiAiIgIiICWDCeFK+KajLTyRE+vUYHRXgurax4Dvnng3CdXFNXRXNKSkfSVMtSj1Rxc7h7zPoS6brpXPSSjRQIiDUN5O9id7HeYGT/APDlo/8AKpeB5SsUXGuH6v0P06VnA6egrAIdykna3EbpqfKPj4XSGs1mbOudTuNYpA7hxqfy9+zE2YuSScydZJ1kk784H5ERAREQEREBERAREQEREBERAREQEREBERAREQEREBERAS83NgWlfNIVaVszB1MpodJG3qw09R/OUadS4L8q3FVFSmcwdTKfqsvA8DwO6TsjOceM6S7xmInlC4tyZAfe/wAD/ORnk2y+9fg/5y73Re9K+aQqUzq2Mp+sjb1I/wBznsuchPnT5F0TpM/01RVhO8Qzs8nOX3n8H/KeLcnuX3n8H/Kd+tjKx02Ks7qwJBBpsCCNxGWqQNjOxH038DTuLPI/X+P8c+lX1KvWzAj0lLJWDsBmFKaOl2aWkcj/ALqlPdDTJBBBByIIyII3EbpsdhvCneS6dNtJcyOBBG4g6wZw8TYdW9AXTJaoG3YHA3Ht4H/RWryMoy9bHOdUTGuLNp0rnuh71fJeio+s5GYXsy3nskt0XDUvGoVIKKhydiPq+yBvb/7NBstlSxIqIuSj58STvMrddGO2PaeFeu89KocGZfePw/8AKcO97Al3toLV02H1gF0QvZnmcz2S0Ylv4WTOnTObn6zep/l+Uo5OcUzZlyynYs9Y2xh+Sx4OwpVxRV0VzSkpH0lTLUo9UcXO4e8zxwjheriarormlNSNOplqUeqOLHcPeZv1zXbSuiklKkoRF2DeTvYnex3maEk9z3ZSuektGigREGobyd7E72O8yico2PxdelZrM2dbY9QbKXsji/8AL37PDlGx/wDs0NZrM2dY6nqD7Piqn1+30e/ZjBOeswDMWJJOZOsk68yd8/IiAiIgIiICIiAiIgIiICIiAiIgIiICIiAiIgIiICIiAiIgIiIHTuO+atyVBUpnsZTsZeB/od01+6L2pXzTFSmdWxlO1G9Uj/c5hs6VyXxUuWoHQ9jKdjLwP9Duma+iM41jtWuycdp6aHi7C63uDUp5LWA7g4G5u3gfcezLatNqLFWBVlJBBGRBG4ibTdN6U74pipTOrYynajeqR/uc4uK8Nrew00yWsBt2BwPRbt4H/RCm6cJ9M/srZXGXLFn1zXtUuippprB1Mp2MOB4Hgd3xE0677wp3mgdDmDtB2qd6kbjMkq02osysCrKSCDqII3T3LovR7pfSTWDqZTsYcDwPA7vjNF1MWRrHaVdk47T01RhlKvifEAsWdOmc6h+s3qD9X5SK+cWoaaigTpuNZIy0N2Xa3y38JSXYsSScydZJ3k75GmidfbOFLLfhiE6Ws6yd872E8M1cR1dFc1prlp1MtSjgOLHcPfPHCuG6mIqmivRprlp1MtSjgOLHcPfN0um7qV000pUk0UX4k72J3k8ZuZ0903dSummlKkgVFGobyd7E7yd5lL5Qcefs0NZrM3706nqD7Piqn1+30e/ZFj/HX7ODWazN+92PUH2fsqfX7fR79mQk5w8CdLWZ28J3GL+qujMyKqliVyzzzAA195+E4c0Pkws2ilep6zIo/gBY/wAw+ED205NqDfb1PgnlKpjPD9LD1SmiOzllLNpaOoaWiuWXHJvhNkpSiXphypiu8ahJK0KWgjVN50VDMiZ6i2kza9g7dhCq4QwpVxNUyHQpKenUI1L7K+s54btpmiLyP2Y/ea3wTyl0umw07tppSpIERBkFHzJO8naSdZnMxpjSlhZNEZPaHGaU+A9d8ti57trbt5AZ/jHBVgwvS0ntNZqjA/R0gKebH1jq6KA7T8JnE9u87xq3tUerWYu7nWT8gBuA3AT38K3Kb8tCU9egOlUPBAdYz4nYO/PdAsmEsArfNAVq1R00ydBVC61HpHS4nPLs175YafJNZn+8VfgnlLpZqYphVUAAAAAagABkAPdPdsdoWsWVWBKMFYD0WKq+R/hZT74Gb35yVUbvs1esleq700dwpC5NoDSI1DPYDMnn1g1MVlKtsYFT3EZH5T5VtllaxVHpt9ZGdD3oxU/lA6WF7nF+V/o2YqoVmJXLPVkBt7SJd05NaD/b1PgnlObyXWbNq9TLYEQHvJZvyWaZRgU+nyWWd/vFX4J5SY8kNCoOjaaintRGHwGU9y9sf2e5Kz0Xp1WZNHMqEI6ShstbA7CJbMLX9RxFS+lo6WQYqysuiysADkcswdRBzBO2BjeKeTq1YfRqoK1qS62dQQyDiyHPIdoJy35TjYWuUX5VZGZlVVLFlyzzzAA195+E+mWUMCCMwdRB3g7pg9G32fCFsttNlcj6UqgRVIVFLEDpMNzAe6B0U5OKD/b1PgnlPap8mFnf7er8E8pLdGNrNeFVKSJW0nOQJRABvzJDE5ZZ7peKECmUuSWzVPvFb4J5T2P+HrN/5Fb4J5Sy39iKjhmktWsrsrOEAQKzZlWbPJioyyU7+E4P/L9g6q1eCl+uBleMLop3Fa6tnpuzqmgCzaOZZkVjs3DSy904k6F/Xh+1rTXr68qlR2AO0KSdEHLPWFyE58BERAREQEREBERAREQOhc17VLoqB0PYynYw4Hz3TV7qvWne9MOh7GU7Vbep898zDD1wvfj6K9FFy03y1KOA4seE1SxWJLvRadNdFV+Z3kneTxmDy5w1j82mmMv2cHFOHVvZdNMlqqNR2BwPRP8AQzNKlM0yVYZFSQQdxByI+MvuL8Tc10qFFunsZh6Psj2u3d37M/lvGjOMeXXwcXTj7bE7mF8OVMQ1NFejTXLTfLUo4Dix3CcOdfD1/VbgqB6ZzU5B0J6LrwPA8G3d2YOlFuV1XdTuumlKkuii/EnexO8njKfjvG/MNKzWZv3msPUH2fFV9vifR79lsuK9qV9Ulq0mzB1EH6yNvVhuI+e0TgY6wWL7U1qAC2hRrGoCqBuJ2BwNje47iAxonOfk86iGkSrAqykgqQQQRqIIOwg7p4QE1vAln5vY6eYyLl2P8TED/qBMkM3G6rPzWlTT1ERfCoEDq0jlPdsxBAK5ZHWCNhz15+/POcO+rTzKzWh9603I7ypA+ZE4PJbf/O6Zsznp0xmh9ZOHep1dxHCBfLzqVqNCq1nVXqqrFFbYWA2dp4Decp84221PbnapUYs7HNmY5kn+nDLdlPpyjMZ5VcM/siuLQi5Uq5JOWxKm1l7A2th/FwgUObNgi4/2LQGkMqj5M/Eeqn8IPxJlFwDcvP630zjoUiMvafaB/Dqb4TWqUCO+73S47PUrtr0R0V9ZzqVfeflmZWOR283tjW1XbSZnSqTxZ9IMfksujWZLUAHRHAOYDKrAHZnkd892w2KlZTmlNEJGRKIqkjhmBA6q7J878plh5jeVoGWQcrUXt+kUFj4tOfRC7JjvLhYtCrZq4H10dCf/AEYMP52+ECTk6s30NlDeu7t7hkg/l+cutGcLDtn5rZqCHUVRM+8jM/MmdS12sWClUqkZhEZ8s8s9FScs92eyBWLz5Nze1epWa1lTUcto/Q56IOxc9PXkMhnlul8wlcFLDlH6KmWbNizO2WbMchnq1AZAADslcwXjBMSM6fR/ROgDBS4fSU6iQcl2HIEZekJebPAhvm9qNy0mrVmCoo97Hcijex4T5lvW2tedarWYZNUd3Izzy02Jyz4DZ7pbuVqw17JbNKpUd6VQFqWkxIQag1NRsGictm4rnKNAtfJtZfp7aG6tHb3kaA/mPwm0UJmPJTZshaKnEog9wLN+azTqEDPOWS1//log+u5HhRf75l8uHKja+dW916tET5Fz83Mp8BERAREQEREBERAREQE7OHLgqX6+ivRRfrPlqUcBxY8J54Zw9Uv58hmtNctN8tnsjix4e+a7YrDTu5Fp01CouwceJJ3k8ZlvvjDjj2tVVrvPSCw2FLuRadNdFF+JO8k7yeMqWMMU800qFBunsZx6Psj2u3d37PPGWK+aaVCg3T2M49D2VPrdu7v2ZxtkqKJnnm7ts044m2d3C+HXv996UlPTf+1eLH5bTuB8cM4ee/X3rTU9J/7V4sfltO4HXbBZEsKLTpqFRRkAPz7Sd53zezK7iLBNK20l5uq06lNclGwOB6LH1tvSPHX2ZZWpNZ2ZHUqykhlIyII3ETf7PXStpBWVip0WyIOi2WeicthyI1Sv4xwkt+qalPJa6jUdgcD0W7eDe7ZsDM8OX9Vw/VFSmcwcg6E9F14HgeDbu7MHdbhvmjflJatJswdTKfrI29WG4/ntE+d69FrOzK6lWUkMpGRBG0ETpYcv6th6qKlM5g5B0J6NReB4Hgd3xBDVcd4IW/Qa9ABbQBrGwVQBsJ3OBsb3HVkRi9Wk1FmV1KspIZSCCCNRBB2GfR2H76o39SWrSbMHUynLSRt6sNx/PaJwMe4GXECmtRAW0qOwCqB6LHc+WxvcdWRAYtduiKtLTICh0LE55BQwJ2dk1ZMV2EfeF+D+UyStSazsyOpVlJVlYEFSNRBB2EGRwNJxpiWzW2yPTpVQ7uyAgBh0VYOTrA3qPjKDdd4PddVKyHJ0YMO3cVPYRmD3z1Igb5Yse3dUVWa0KhKglGV81JGtTkMsxs1Twv8AxPdF+WerQqWpMmXUQlTNWGtWHR2g5d+zfMGiBqlzX5d91UkpC0Lko1nRfpMdbNs3nOT3xjWzWeg5oVVeqRkoAbUTq0jmMsht90ySIHfXGd4L95f4J5Tq4ex3a6NooGvaWajpqHBC5aB1EnIZ6s89XCUuIH0YuP7rH3tPDU/TKnykX/d2ILNTRLSjOlZGyCuOgc1baBsDZ/wzH4ga/SxXYV+8L4X8p6OLcU2a02OrTo1ld30RkA2wsC20ZbAfjMuiB0sP3s1yWinXXXoN0l9ZTqZfeM/flN0s+PbsyGdqQd61P0z55iBs/KBfl2YjsjotqQ1afTpdF9bKNaZ6PpLmNerPI7pjERA0nA992O6rMq1Kyo7O7MpD5jM6I2D1VEtVHGl3rttKeF/0zDIgdC/rZ+0LTaKoOYeo7KfZLHR/65TnxEBERAREQEREBERATvYXw5UxBUyGa01y03y2eyOLHhu2mfuFcM1MQ1MhmtNSNN8tnsjix4btpmzWGwU7sprSpKFRRqHHiSd5O8zJ5HkRhxx7+S9VWu89IbDYKd201p01CouwceJJ3k8ZS8a4t5npWeg3T2O49D2VPrdu7v2S45xdzLSoWdv3mx3HoeyPa7d3fszCT8eicuebu23TjiTs4cuF77fIZrTU9J/7RxY/Lb38WWmxY0qWBFRKFJVUZAdP4nXrJ4zezNLsFkSwoqIoVVGQA/M8SeMq2McXcyDULO37zY7j0OwH1/y79lfteO7TaEZVVELDLTXS0gN+WZ1HtlVh46lx35VuOr9Ihzz+upJycdvbtybaPiDtNx3vSvmmKlNsxsZT9ZG3qw4/nMBnTuO+a1x1BUpHXsZTnosOBH9dogbfbLgst4tp1aCO2QGkV1kDZ3zxTCFgP3Wn4T5zOxyoWkfYUf8Av+qeY5VLUPsKP/f9UDU7quOzXUxajRWmWGR0cxmO0Z5GdlJio5V7UPsKH4n6pIvK5a1+70PxP1QLnyg4EXEKmvQAW0qOwCqAPqtwfg3uOrIjC61FrOzK6lWUlWUjIqRqIIOwzRRywWsfd6H4n6pVcVYjOJXFR7PSp1BqZk0wXAGQDBiQSOO3dwgcCIiAiIgIiICIiAiIgIiICIiAiIgIiICIiAiIgIiICIiAlhwnhipiOpkM0pKRp1MtnsrxY8N20z8wlht8R1MtIJSTLTckDL2Vz2sfltPbt9gs9C7Ka0qWiqKMgAw95J3k7zMnkX+m2PfyXqr13np4WCwU7rprSpKFVRqH5kneTvMpGO8Y8x0rPZ2/ebHceh7I9v8ALv2SY8xqLDpWezMDUOpnBzCA+ip3t27u/Zk5Ocj4/jzl+JYpbbpxxCc5+RE+iyEREBERAREQEREBERAREQEREBERAREQEREBERAREQEREBERAREQEREBERAREQEREBlnGqIh6REQ8IiICIiAiIgIiICIiAiIgIiICIiAiIgIiICIiAiIgIiICIiAiIgIiICIiAiIgIiICIiAiIgIiICIiAiIgIiICIiAiIgIiICIiAiIgIiICIiAiIgIiICIiAiIgIiICIiAiIgIiICIiB//2Q=="
        alt="" width="100px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/">Products <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart">Cart<span class="badge badge-success">{{cartCount}}</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/orders">Orders</a>
        </li>

      </ul>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{#if user}}
          {{user.name}}
          {{else}}
          Account
          {{/if}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {{#if user}}
          <a class="dropdown-item" href="/profile">Profile</a>
          <a class="dropdown-item" href="/logout">Logout</a>
          {{else}}
          <a class="dropdown-item" href="/login">Login</a>
          <a class="dropdown-item" href="/signup">Signup</a>
          {{/if}}




        </div>
      </div>
    </div>
  </nav>
</header>